@charset "UTF-8";
/* CSS Document */

/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}

body{ 
	overflow:scroll;
    
}
	
header{
	overflow:auto;
	width:100%;
	}
	
h1{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	margin-left:7.5%;
	}
h1:hover {
	background:#d5ebd8;
}

h2{
	font-family: Arial, Helvetica, sans-serif; 
	color:#000;
	float:center; 
	font-size:20px;
	margin-right:11%;

	}

p{font-family: Arial, Helvetica, sans-serif; 
	color:#000;
	font-size:14px;
	margin-top:2%;
	margin-right:7.5%;
    margin-left:7.5%;
	letter-spacing:1.5px;
    line-height:21px;
	}

ul {
    list-style-type: square;
    list-style-type: outisde;
    margin-left: 10px;
    }*/

a {
	text-decoration:underline;
    color: #000;    
}

a:hover {
	background:#d5ebd8;
}
/*
a.one { 
		text-decoration: none;
		border-bottom: solid 2px #000;
       padding-bottom: 2px;	 	
}*/

a.one:visited {
    color: #000;
}

a.one:hover {   
	background:#d5ebd8;
}

a.two { 
	text-decoration:none;
	color:#000;		
}

a.two :visited{ 
	text-decoration:none;
	color:#000;	
}

a[href^="mailto:"]{ 
	text-decoration:underline;
	border-bottom: solid 2px #000;
    padding-bottom: 2px;
}

a[href^="mailto:"]:hover { 
	background:#d5ebd8;
}

a[href^="mailto:"]:visited { 
	text-decoration:none;
	color:#d5ebd8;
}

#content{ 
	margin-top:.5%;
	width:100%;
}

.week{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	float:left;
	display:inline-block;
	margin-bottom:1.5%;
	letter-spacing:2px;
	overflow:hidden;
	text-overflow:ellipsis;
    width:100%;
   
	}

.week: hover{overflow:visble;}

.assignment{
    float:left;
    display: inline-block;
    width:33%;
    margin:auto;
    margin-left: .3%;
    text-align: center;
    
}

.avatar{
	height:250px;
	width:295px;}
	
#textabout{ 
		font-family: Arial, Helvetica, sans-serif;
		font-size:20px;
		color:#000;
		margin-left:15%;
		margin-right:15%;
		margin-top:3%;}
		
#contact{ 
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#F00;
		margin-left:7.5%;
		margin-right:7.55%;
		line-height:25px;
		margin-top:1%;
		}
		
.back{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing:2px;
	font-size:12px;
	color:#d5ebd8;
	margin-left:7.5%;
	display:inline;
	}		
#photo{ margin-top:2%;}

.title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top:2%;
	font-size:24px;
	color:#000;
	margin-left:7.5%;}
	
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
    font-style: italic;
	margin-top:1%;
	font-size:16px;
	color:#000;
    margin-right:14%;
	margin-left:7.5%;
	line-height:21px;}	
	
.image{
	
	height:100%;
	width:100%;
	}

h4{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top:4%;
	font-size:16px;
	color: #000;
    margin-left:7.5%;}		
	
h5{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top:1%;
	font-size:12px;
	color: #000;
    margin-left:7%;}		

h6{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	margin-top:4%;
	font-size:10px;
	color: #000;
    margin-left:7%;}	

canvas{width:100%;
		position: fixed;
		z-index:-1;}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
.span_4_of_4 {
		width: 100%; 
	}

.span_3_of_4 {
		width: 100%; 
	}

.span_2_of_4 {
		width: 100%; 
	}
	
.span_1_of_4 {
		width: 100%; 
	}
	
h1{
	float: left;
	font-family: Arial;
	font-size:10px;
    margin-top:8%;}
    
h2{ 
    font-family: Arial; 
	color:#00F;
	float:right; 
	font-size:10px;
	margin-top:8%;
}
    
#content{ margin-top:7%;
}
  
.content2{ 
	font-family: Arial;
	font-size:12px;
	margin-left:10%;
	float:left;
	display:inline-block;
	/*margin-left:20%;*/
	margin-right:2%;
	margin-bottom:10%;
	letter-spacing:2px;
    float:right;
	}
    
.content2: hover{overflow:visble;}

p{
	font-family: Arial, Helvetica, sans-serif; 
	color:#000;
	font-size:14px;
	margin-top:3%;
	/*margin-right:0px;*/
	letter-spacing:2px;
	}
	
#textabout{ 
		font-family:Arial;
		font-size:15px;
		color:#000;
		margin-left:20%;
		margin-right:20%;
		margin-top:3%;
		}
		
img{
	height:100%;
	width:100%;
	}		
	
.content_header{
    width:100%;
    float:right;
}
.cont2{
    width:70px;
    float:left;
}

.week{
    margin-top: 35px;
    margin-bottom: 0px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: whitesmoke;
   color: white;
   text-align: left;
}